<!-- <div class="row">
  <div class="col-lg-4 col-md-12">
-->
<a (click)="onProductClick()">
<div class="col-sm-3 col-md-3 col-lg-3">
  <div class="card">
    <div class="view">
      <img src="{{ product.picture }}" class="card-img-top" alt="photo">
      <a href="#">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
    <div class="card-body">
      <h4 class="card-title" *ngIf="product.name">{{ product.name }}</h4>
      <p class="card-text" *ngIf="product.description">{{ product.description }}</p>
      <!--<button class="btn btn-primary" (click)="">
        Details
      </button>-->
    </div>
  </div>
  <!-- </div>
</div> -->

</div>
</a>
