<div class="row">
  <div class="container-fluid">
    <div class="jumbotron">
      <div *ngIf="listProduct">
        <div *ngFor="let lp of listProduct">
          <app-card-product [product]="lp"></app-card-product>
        </div>
      </div>
    </div>
  </div>
</div>
