

<!--Navbar -->
<nav class="mb-1 navbar navbar-expand-lg navbar-dark default-color">
  <!-- LOGO -->
  <a class="navbar-brand" href="http://127.0.0.1:4200/">ECOM</a>

  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" (click)="onCategoriesClick()">
          Categories
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" (click)="onProductsClick()">
          Product
        </a>
      </li>
    </ul>
  </div>

  <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item mr-3">
        <a class="nav-link waves-effect waves-light">
          <i class="fas fa-cart-arrow-down fa-2x" alt="Your cart"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="" data-toggle="" aria-haspopup="true" aria-expanded="false" (click)="onConnexionClick()">
          <i class="fas fa-user-circle fa-2x"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>
<!--/.Navbar -->
