<div class="row">
  <div class="col-md-12">
    <div class="container-fluid">
      <div class="jumbotron">
        <div *ngIf="listCategory">
          <div *ngFor="let cat of listCategory">
            <p>{{ cat.name }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
