<!--
<header>
  <app-header></app-header>
</header>
<div class="row">
  <div class="col-md-3">
    <div class="jumbotron">
      <p>SIDEBAR</p>
    </div>
  </div>
  <div class="col-md-9">
    <div class="row">
      <div class="jumbotron">
        <div class="col-md-4">
          <div *ngIf="prodList">
            <div *ngFor="let lp of prodList">
              <app-card-product [product]="lp"></app-card-product>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<footer>
  <app-footer></app-footer>
</footer>
-->
