<!DOCTYPE html>
<html>
<head>
  <app-head></app-head>
</head>


<body>

<app-header></app-header>


  <!--<app-body [prodList]="listProduct"></app-body>-->

  <router-outlet>
    
  </router-outlet>

<footer>
  <app-footer></app-footer>
</footer>

</body>
<!--
<p>{{ title }}</p>


<button (click)="sendGetRequest()">GET Users</button>-->
</html>
