<div class="row">
  <div class="container">
    <div class="col-md-12">
      <div class="jumbotron">
        <h1> Nom produit</h1>
        <hr>
        <p> image ici </p>
        <hr>
        <p> icon fav et panier </p>
        <hr>
        <p> description </p>
        <hr>
        <p> characteristic </p>
      </div>
    </div>
  </div>
</div>
